<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Dojo and Ninjas in them</title>
</head>
<body>
    <h1>{{ display.name }} Ninjas</h1>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
        </tr>
        {% for banana in display.ninjas %}
        <tr>
            <td>{{banana.first_name}}</td>
            <td>{{banana.last_name}}</td>
            <td>{{banana.age}}</td>
            {% endfor %}
        </table>
    <button> <a href="/dojos">Home</a> </button>
</body>
</html>