<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Dojos</title>
</head>
<body>
    <div>
        <h1>New Dojo</h1>
        <form action="/dojos/create" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name">
            <input type="submit" value="Create">
        </form>
    </div>
    <div>
        <h1>All Dojos</h1>
        <table>
            {% for banana in dojos %}
            <tr>
                <td ><a href="/dojos/{{ banana.id }}">{{ banana.name }}</a></td>
            </tr>
            {% endfor %}
        </table>
        <Button><a href="/ninjas/new">Add Ninjas</a></Button>
    </div>
    </body>
</html>